{% extends 'base.html.twig' %}

{% block title %}Zmień hasło{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">Ustaw nowe hasło</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword.first) }}
                        {{ form_row(resetForm.plainPassword.second) }}
                        <button class="btn btn-primary w-100">Zmień hasło</button>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
