{% if field.value is not empty %}
    {% for league in field.value %}
        <span class="badge bg-warning me-1">{{ league.name }}</span>
    {% endfor %}
{% else %}
    <span class="text-muted">Brak lig</span>
{% endif %}
