{% if field.value is not empty %}
    {% for team in field.value %}
        <span class="badge bg-info me-1">{{ team.name }}</span>
    {% endfor %}
{% else %}
    <span class="text-muted">Brak drużyn</span>
{% endif %}
