{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_id 'dashboard' %}

{#{% extends '@EasyAdmin/page/content.html.twig' %}#}

{% block content_title %}
    <i class="fa fa-bowling-ball"></i> Bowling Liga - Panel Administracyjny
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center mb-4">
                <div class="card-body">
                    <i class="fa fa-gamepad fa-3x text-primary mb-3"></i>
                    <h5 class="card-title">Mecze</h5>
                    <p class="card-text">Zarządzaj meczami i wprowadzaj wyniki</p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\GameCrudController').setAction('index') }}" class="btn btn-primary">
                        Przejdź
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center mb-4">
                <div class="card-body">
                    <i class="fa fa-list fa-3x text-success mb-3"></i>
                    <h5 class="card-title">Framy</h5>
                    <p class="card-text">Przeglądaj i edytuj wyniki framów</p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\FrameCrudController').setAction('index') }}" class="btn btn-success">
                        Przejdź
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center mb-4">
                <div class="card-body">
                    <i class="fa fa-trophy fa-3x text-warning mb-3"></i>
                    <h5 class="card-title">Ligi</h5>
                    <p class="card-text">Zarządzaj ligami i sezonami</p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\LeagueCrudController').setAction('index') }}" class="btn btn-warning">
                        Przejdź
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center mb-4">
                <div class="card-body">
                    <i class="fa fa-users fa-3x text-info mb-3"></i>
                    <h5 class="card-title">Drużyny</h5>
                    <p class="card-text">Zarządzaj drużynami i zawodnikami</p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\TeamCrudController').setAction('index') }}" class="btn btn-info">
                        Przejdź
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-clock"></i> Ostatnie mecze</h5>
                </div>
                <div class="card-body">
                    <p class="text-muted">Lista ostatnio zaktualizowanych meczów pojawi się tutaj...</p>
                    {# TODO: Dodać listę ostatnich meczów #}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fa fa-calendar"></i> Nadchodzące mecze</h5>
                </div>
                <div class="card-body">
                    <p class="text-muted">Lista zaplanowanych meczów pojawi się tutaj...</p>
                    {# TODO: Dodać listę nadchodzących meczów #}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="alert alert-info">
                <h5><i class="fa fa-info-circle"></i> Szybki start</h5>
                <ol>
                    <li>Utwórz ligę lub wybierz istniejącą</li>
                    <li>Dodaj drużyny i zawodników (dla gier drużynowych)</li>
                    <li>Utwórz nowy mecz i ustaw datę oraz ligę</li>
                    <li>Wygeneruj strukturę meczu (framy)</li>
                    <li>Wprowadź wyniki dla każdego framu</li>
                    <li>System automatycznie obliczy wyniki z bonusami za strike i spare</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
